*, *::before, *::after {
  box-sizing: border-box;
}

.homepage {
  max-width: 500px;
}
.main {
  height: 100%;
}
.subtitle {
  background: rgba(0,0,0,0.8);
  margin-bottom: 12px;
  box-shadow: 0px 60px rgba(0,0,0,0.5);
  color: white;
  padding: 10px;
  letter-spacing: 0.1rem;
  max-width: 400px;
  word-spacing: 0.2em;
  font-weight: 700;
  text-align: center;
}
.linkBtn {
  max-width: 400px;
}
form {
  position: relative;
}
#wrap {
  transition: 1s;
  height: 100vh;
}
.form-wrap {
  background: rgba(0,0,0,0.7);
  color: white;
  padding: 40px 20px!important;
  min-height:450px;
  max-width: 500px;
}
.form-wrap input:last-child {
  margin-bottom: 70px;
}
.delete-btn {
  bottom: 1em;
  right: 1em;
  color: #dfe0e1 !important;
  font-size: 0.87em;
}
.delete-btn:hover {
  color: red !important;
  cursor: pointer
}